* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: StratosSkyeng_n;
  src: url(assets/fonts/stratosskyengweb-regular.woff2);
}

.container {
  font-family: StratosSkyeng_n;
  background-color: #004980;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-start {
  background-color: #c2f5ff;
  width: 480px;
  height: 459px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__message {
    width: 208px;
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  &__button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background-color: #7ac100;
    border: none;
    color: #ffffff;
    font-family: StratosSkyeng_n;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
  }
  &__button:hover {
    background-color: #00c2ff;
    border: 1px solid #00c2ff;
  }
}

.window-start_checkbox strong {
  color: #0080c1;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  cursor: pointer;
}

.choose-difficulty-toolbar {
  display: flex;
  gap: 24px;
}

.choose-difficulty-toolbar input[type="radio"] {
  display: none;
}

.choose-difficulty-toolbar label {
  display: inline-block;
  color: #0080c1;
  width: 98px;
  height: 98px;
  font-size: 64px;
  line-height: 72px;
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
  text-align: center;
  padding-top: 13px;
  cursor: pointer;
}

.choose-difficulty-toolbar input[type="radio"]:checked + label {
  background-color: #00c2ff;
  border: 1px solid #00c2ff;
  color: #fff;
}

.choose-difficulty-toolbar label:hover {
  background-color: #7ac100;
  border: 1px solid #7ac100;
  color: #fff;
}
