* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "StratosSkyeng_n";
  src: url("./static/fonts/stratosskyengweb-regular.woff2");
}

.container {
  font-family: "StratosSkyeng_n", sans-serif;
  background-color: #004980;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.window-start,
.window-final {
  background-color: #c2f5ff;
  width: 480px;
  height: 459px;
  margin-top: 158px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &-message {
    width: 256px;
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  &-text {
    color: #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  &-time {
    color: #000000;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
  }

  &-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background-color: #7ac100;
    border: none;
    color: #fff;
    font-family: "StratosSkyeng_n", sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
  }

  &-button:hover {
    background-color: #00c2ff;
    border: 1px solid #00c2ff;
  }

  &-bcg {
    position: absolute;
    z-index: 2;
    background-color: #004980;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 90%;
  }
}

.window-final {
  position: absolute;
  z-index: 3;
}

.window-start-checkbox strong {
  color: #0080c1;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  cursor: pointer;
}

.choose-difficulty-toolbar {
  display: flex;
  gap: 24px;
}

.choose-difficulty-toolbar input[type="radio"] {
  display: none;
}

.choose-difficulty-toolbar label {
  display: inline-block;
  color: #0080c1;
  width: 98px;
  height: 98px;
  font-size: 64px;
  line-height: 72px;
  background-color: #fff;
  border-radius: 12px;
  border: none;
  text-align: center;
  padding-top: 13px;
  cursor: pointer;
}

.choose-difficulty-toolbar label:hover {
  background-color: #7ac100;
  border: 1px solid #7ac100;
  color: #fff;
}

.choose-difficulty-toolbar input[type="radio"]:checked + label {
  background-color: #00c2ff;
  border: 1px solid #00c2ff;
  color: #fff;
}

.button-start-again,
.button-window-final {
  width: 246px;
  height: 50px;
  border-radius: 12px;
  background-color: #7ac100;
  border: none;
  color: #fff;
  font-family: "StratosSkyeng_n", sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.window-game {
  max-width: 979px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  margin-top: 22px;
  position: relative;
  z-index: 1;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-end;
}

.timer-box {
  max-width: 155px;
  flex-wrap: wrap;
}

.time-box-up-line {
  display: flex;
  justify-content: flex-end;
}

.min-sec {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  padding-left: 45px;
  padding-right: 10px;
}

.timer {
  font-weight: 400;
  font-size: 64px;
  line-height: 68px;
  color: #fff;
}

.button-start-again:hover,
.button-window-final:hover {
  background-color: #00c2ff;
  border: 1px solid #00c2ff;
}

.card-field {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  gap: 45px;
}

.-level-1 {
  max-width: calc(95px * 3 + 45px * 2);
}

.-level-2 {
  max-width: calc(95px * 4 + 45px * 3);
}

.-level-3 {
  max-width: calc(95px * 6 + 45px * 5);
}

.cards {
  width: 95px;
  height: 133px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
